*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: lightblue;
    --secondary: dodgerblue;
    --boldface: 600;
    --primarytxt: black;
    --herocolor: rgb(75, 27, 170);
    --black: #000000;
    --Teal: #008080;
    --SkyBlue: #87CEEB;
    --LightGreen: #90EE90;
    --Orange: #FFA500;
    --Gold: #FFD700;
    --LightGray: #D3D3D3;
    --CharcoalGray: #333333;
    --Crimson: #DC143C;
    --Lime: #00FF00;
    --Light: #ffffff;
}

body {
    background-color: var(--CharcoalGray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.txt-light {
    color: var(--Light);
}

.txt-hero {
    color: var(--herocolor);
}


#navbar {
    display: none;
}


.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger-bar {
    background-color: var(--secondary);
    height: 3px;
    width: 30px;
    margin: 6px 0;
    transition: 0.4s;
}


#navbar.active {
    display: block;
}

#hamburger-button.active .hamburger-bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#hamburger-button.active .hamburger-bar:nth-child(2) {
    opacity: 0;
}

#hamburger-button.active .hamburger-bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbar {
    padding: 1em 2em;
    transition: all 250ms ease-in-out;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-content: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
    width: max-content;
}

.nav-link {
    text-decoration: none;
    text-align: left;
    color: var(--secondary);
    font-weight: 600;
    display: inline-block;
    padding: .2em 1em;
    width: 100%;
    border-radius: 2em;
    transition: all 250ms;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover {
    padding: .2em 2em;
    background-color: orange;
    color: black;
}


.container {
    background-color: wheat;
}

.hero {
    background-color: var(--CharcoalGray);
    padding: 1em 2em;
    color: white;
    margin-bottom: 1em;
}

.hero-illustrations {
    padding: 2em;
    display: flex;
    align-items: center;
    perspective: 800px;
    overflow: hidden;
    position: relative;
    transition: transform 1s ease-in-out, background-color 1s ease-in-out, border-radius 1s ease-in-out;
    
}

.hero-illustrations:hover {
    transform: perspective(1000px) rotateX(35deg);
}

.hero-illustrations img {
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.399);
    aspect-ratio: 1/1;
    object-fit: cover;
    
}


#profile-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.100);
    background-color: var(--Crimson);
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.txt-center {
    text-align: center;
}

.leading-text {
    font-size: 5vmax;
    margin-bottom: .2rem;
    font-weight: var(--boldface);
}

.border-bottom {
    border-bottom: 2px solid var(--Crimson);
}

.subtitle-text {
    width: 90%;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.1rem;
}


.subtitle-text span {
    font-weight: var(--boldface);
    text-transform: capitalize;
    color: var(--CharcoalGray);
    background-color: var(--Light);
    padding: 0 .5rem;
    transition: background-color .5s ease-in-out;
}

.subtitle-text:hover span {
    background-color: var(--Orange);
}

.cta-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--Light);
    background-color: rgba(30, 143, 255, 0.478);
    padding: 1em 3em;
    outline: 1px solid var(--secondary);
    border-radius: 2em;
    font-size: 1.1rem;
    font-weight: var(--boldface);
    box-shadow: 0 2px 2px 0px rgba(9, 9, 9, 0.345);
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    transition: background-color 200ms ease-in-out;
}

.cta-btn:hover,
.cta-btn:focus,
.cta-btn:active {
    background-color: var(--secondary);
}


.vission {
    padding: 3rem 0;
    font-size: 1.1rem;
}

.imagery{
    width: 80%;
    margin: 0 auto;
   
}

.services {
    background-color: var(--secondary);
}

.services-container {
    padding: 2em 2em;
}

#service-title {
    margin-bottom: 1rem;
}

.service-item {
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    padding: 2em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.333);
    border-radius: 1rem;
}


.service-item ul {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.service-item ul li {
    padding: .2rem 0;
}

.service-icon {
    padding: .5rem;
    background-color: var(--secondary);
    border-radius: 2rem;
    color: var(--Light);
    display: flex;
    align-content: center;
    justify-content: center;
}

.service-item h4,
a {
    display: block;
    margin: .5rem 0;
    text-align: center;
}

.service-item a {

    text-decoration: none;
    outline: 1px solid var(--secondary);
    border-radius: 2rem;
    width: 60%;
    margin: 0 auto;
    padding: .5rem;
    color: var(--primarytxt);
    transition: all 250ms ease-in-out;
}

.service-item a:active,
a:hover,
a:focus {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.333);
    background-color: var(--secondary);
    color: white;
}

.border-b{
    border-bottom: 3px solid rgb(7, 144, 182);
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.testimony-container{
    padding: 2rem;
    background-color: var(--Light);
}

.testimony{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.526);
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow:  0 2px 5px 0 var(--LightGray);
    margin-bottom: 1rem;
}

.testimony-img{
    width: 35%;
    aspect-ratio: 1 / 1;
    outline: 1px solid var(--Orange);
    border-radius: 9rem;   
    object-fit: cover;
    background-color: var(--Orange);
    box-shadow: 0 2px 10px 0 var(--black);
}



.testimony h4{
    font-size: 1.2rem;
    padding: .6rem .5rem;
    color: var(--Light);
}

.name{
    color: var(--Orange);
    font-size: large;
    text-transform: uppercase;
}

.quote{
    color: var(--Crimson);
    font-size: xx-large;
}

.testimony p{
    text-align: center;
    color: var(--Light);
}

.ratings{
    padding: .5rem;
    color: var(--Orange);
}

.resume {
    background-color: var(--Teal);
    padding: 2rem 0;
}


.resume .leading-text {
    color: var(--Light);
}

.resume-content {
    padding: 0 2rem;
}


.resume-content>div {
    padding: 1rem 2rem;
    background-color: var(--Light);
    margin: .5rem 0;
}



.resume-header>* {
    display: inline-block;
}

.resume-content>div h3 {
    text-align: center;
    border-bottom: .2rem solid var(--black);
    margin-bottom: .5rem;
}


.resume-content>div ul {
    padding: .8rem 1rem;
}

.resume-content>div ul li {
    list-style: square;
}

.resume>* a {
    color: var(--Crimson);
    display: inline;
    text-decoration: none;
    margin-right: .5rem;
}


.resume>* a:hover {
    color: var(--secondary);
    background-color: var(--Light);
    box-shadow: none;
}

.references {
    word-wrap: break-word;
}



.references li,
.education li {
    margin-top: 1rem;
}

/* Media Queries */

/* Styles for screens wider than 576px (small tablets, etc.) */
@media (min-width: 576px) {
    body{
        background-color: var(--Light);
    }


    .hero {
        padding: 1rem 6rem;
    }

    .hero-illustrations {
        padding: 1rem 2rem;
    }
   
    .hero-illustrations img {
        width: 90%;
        border-radius: 20rem;
    }
    
    .leading-text {
        font-size: 8vmax;
        margin-bottom: .5rem;
    }
    .subtitle-text {
        width: 90%;
        padding: 0 2.1rem;
        font-size: 1.2rem;
    }
    .cta-btn{
        margin-top: 1rem;
        width: 80%;
    }

    .card {
        padding: 2.5rem;
    }

    .imagery{
        width: 80%;
    }

    .vission{
        font-size: 1.2rem; 
    }

    


.services {
    padding: 2em 3.5rem;
}


.service-item {
    font-size: 1.2rem;
    padding: 3em 4em;
    
}


.service-icon {
    background-color: transparent;
    color: var(--black);
    font-size: 2.5rem;
}
    
.testimonial{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.testimonials-content {
    padding: 2rem 3rem;
    
}

.testimonial p {
    padding: 3rem 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}


.testimonial img {
    position: absolute;
    top: -20px;
    min-width: 12%;
    max-width: 10vw;
    display: block;
}

.name-ratings{
    text-align: center;
    max-width:fit-content;
    max-width: -moz-fit-content;
    margin: 0 auto;
}

}

  /* Styles for screens wider than 768px (larger tablets, landscape view)
        Additional styles for medium screens */
  @media (min-width: 768px) {
    body{
        background-color: var(--Gold);
    }
  }
  
  /* Styles for screens wider than 992px (desktops)
         Additional styles for large screens (desktops) */
  @media (min-width: 992px) {
    body{
        background-color: var(--Orange);
    }
  }
  


  